extends ../layout

block content
    h1 Ultra form
    form(data-role="contact-form" name="ultra_form" method="POST" action="#")
        +input-block({
          required      : 'true',
          validation    : 'text',
          labelText     : 'First Name',
          inputName     : 'first_name',
          inputType     : 'text'
        })
        +input-block({
          required      : 'true',
          validation    : 'text',
          labelText     : 'Last Name',
          inputName     : 'last_name',
          inputType     : 'text'
        })
        +input-block({
         required      : 'true',
         validation    : 'date',
         labelText     : 'Birthday',
         inputName     : 'birthday',
         inputType     : 'date'
        })
        +input-block({
          required: 'true',
          validation: 'date',
          labelText: 'Birthday',
          inputName: 'birthday',
          inputType: 'text'
        })
        +radio-block({
          required      : 'true',
          labelText     : 'Sex',
          inputName     : 'sex',
          options       : ['Mr', 'Mrs']
        })
        +select-block({
          required      : 'true',
          inputName     : 'country',
          labelText     : 'Country',
          defaultOption : 'Country',
          options       : ['Ukraine', 'France', 'Great Britain', 'USA', 'Switzerland']
        })
        +input-block({
          required      : 'true',
          validation    : 'email',
          labelText     : 'Email',
          inputName     : 'email',
          inputType     : 'text'
        })
        +input-block({
          required      : 'true',
          validation    : 'password',
          labelText     : 'Password',
          inputName     : 'password',
          inputType     : 'password'
        })
        +input-block({
          required      : 'true',
          validation    : 'text',
          labelText     : 'Address',
          inputName     : 'address',
          inputType     : 'text'
        })
        +input-block({
          labelText     : 'Notes',
          inputName     : 'notes',
          inputType     : 'textarea'
        })

        .actions-toolbar
            .action.primary
                button(type="submit") Submit
    include ../blocks/dialog
