extends ../layout

block content
    h1 Ultra form
    form(name="ultra_form" method="POST" action="#")
        fieldset
            .input-block(data-role="input-block" data-required="true" data-validation="text")
                label First Name
                    input(name="first_name" type="text")
                .input-block__error(data-role="error")
            .input-block(data-role="input-block" data-required="true" data-validation="text")
                label Last Name
                    input(name="last_name" type="text")
                .input-block__error(data-role="error")
            .input-block(data-role="input-block" data-required="true" data-validation="date")
                label Birthday
                    input(name="birthday" type="date")
                .input-block__error(data-role="error")
            .input-block(data-role="input-block" data-required="true")
                label Mr
                    input(name="sex" type="radio" value="mr")
                label Mrs
                    input(name="sex" type="radio" value="mrs")
                .input-block__error(data-role="error")
            .input-block(data-role="input-block" data-required="true")
                label Country
                    select(name="country")
                        option(selected value="null" style="display:none") Country
                        option(value="Ukraine") Ukraine
                        option(value="France") France
                        option(value="Great Britain") Great Britain
                        option(value="USA") USA
                        option(value="Switzerland") Switzerland
                .input-block__error(data-role="error")
            .input-block(data-role="input-block" data-required="true" data-validation="email")
                label Email
                    input(name="email" type="email")
                .input-block__error
            .input-block(data-role="input-block" data-required="true" data-validation="password")
                label Password
                    input(name="password" type="password")
                .input-block__error
            .input-block(data-role="input-block" data-required="true" data-validation="text")
                label Address
                    input(name="address" type="text")
                .input-block__error
            .input-block(data-role="input-block" data-validation="text")
                label Notes
                    textarea(name="notes")
                .input-block__error
        .actions-toolbar
            .action.primary
                input(type="submit" value="Submit")